<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>frames</key>
  <dict>
    <key>tree1B_0.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{0,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_1.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{64,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_2.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{128,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_3.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{192,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_4.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{256,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_5.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{320,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_6.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{384,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_7.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{448,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_8.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{512,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
    <key>tree1B_9.png</key>
    <dict>
      <key>aliases</key><array/>
      <key>spriteOffset</key><string>{0,0}</string>
      <key>spriteSize</key><string>{64,128}</string>
      <key>spriteSourceSize</key><string>{64,128}</string>
      <key>textureRect</key><string>{{576,0},{64,128}}</string>
      <key>textureRotated</key><false/>
    </dict>
  </dict>
  <key>metadata</key>
  <dict>
    <key>format</key><integer>3</integer>
    <key>pixelFormat</key><string>RGBA8888</string>
    <key>premultiplyAlpha</key><false/>
    <key>realTextureFileName</key><string>tree1B.png</string>
    <key>size</key><string>{640,128}</string>
    <key>textureFileName</key><string>tree1B.png</string>
  </dict>
</dict>
</plist>